.files > li {
	cursor: pointer;
}

.installer-events {
	overflow-y: auto;
	max-height: 200px;
	margin-bottom: 20px;
}

.file-state-0 {
	background-color: rgba(211, 211, 61, 0.3);
}

.file-state-3 {
	background-color: rgba(0, 255, 0, 0.3);
}

.file-state-6 {
	background-color: rgba(255, 0, 0, 0.3);
}

.header {
	margin-top: 50px;
}

.alert-container {
	margin-top: 15px;
}

.content-panel {
	padding: 30px;
}

.content-panel .title {
	margin-bottom: 15px;
	margin-top: 0;
	font-size: 18px;
}

.content-panel .content-header-wrapper {
	position: relative;
	margin-bottom: 30px;
}

.drive-list-view tbody > tr.selected,
.drive-list-view tbody > tr.installed {
	background-color: rgba(0, 255, 33, 0.1);
}

.drive-list-view .name {
	width: 60%;
}

.drive-list-view .name.truncate {
	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.drive-list-view .order {
	width: 30px;
}

.drive-list-view .type {
	width: 15px;
}

.drive-list-view .titleid,
.drive-list-view .version,
.drive-list-view .size {
	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.drive-list-view a {
	color: #494d55;
	cursor: pointer;
}

.drive-list-view a:hover {
	color: #40babd;
}

.drive-list-view td.date,
.drive-list-view td.size {
	color: #6d6d6d;
}

@media (max-width: 767px) {
	.content-panel .title {
		text-align: center;
	}

	.content-panel .content-header-wrapper .actions {
		position: static;
		margin-bottom: 30px;
	}

	.content-panel {
		padding: 0;
	}

	.file-uploader {
		margin-bottom: 15px;
	}

	.drive-wrapper .drive-item {
		width: 100px;
		margin-right: 5px;
		float: none;
	}

	.drive-wrapper .drive-item-thumb {
		width: auto;
		height: 54px;
	}

	.drive-wrapper .drive-item-thumb .fa {
		font-size: 24px;
		padding-top: 0;
	}
}

.module {
	border: 1px solid #f3f3f3;
	border-bottom-width: 2px;
	background: #fff;
	margin-bottom: 30px;
	position: relative;
	border-radius: 4px;
	background-clip: padding-box;
}

.module .module-footer {
	background: #fff;
	border-top: 1px solid #f3f3f7;
	padding: 15px;
}

.module .module-footer a {
	color: #9499a3;
}

.tile-progress {
	background-color: #303641;
	color: #fff;
}

.tile-progress {
	background: #00a65b;
	color: #fff;
	margin-bottom: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.tile-progress .tile-header {
	padding: 15px 20px;
	padding-bottom: 40px;
}

.tile-progress .tile-progressbar {
	height: 2px;
	background: rgba(0, 0, 0, 0.18);
	margin: 0;
}

.tile-progress .tile-progressbar span {
	background: #fff;
}

.tile-progress .tile-progressbar span {
	display: block;
	background: #fff;
	width: 0;
	height: 100%;
	-webkit-transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.tile-progress .tile-footer {
	padding: 20px;
	text-align: right;
	background: rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 0 0 3px 3px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 0 0 3px 3px;
	-moz-background-clip: padding;
	border-radius: 0 0 3px 3px;
	background-clip: padding-box;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

.tile-progress.tile-red {
	background-color: #f56954;
	color: #fff;
}

.tile-progress {
	background-color: #303641;
	color: #fff;
}

.tile-progress.tile-blue {
	background-color: #0073b7;
	color: #fff;
}

.tile-progress.tile-aqua {
	background-color: #00c0ef;
	color: #fff;
}

.tile-progress.tile-green {
	background-color: #00a65a;
	color: #fff;
}

.tile-progress.tile-cyan {
	background-color: #00b29e;
	color: #fff;
}

.tile-progress.tile-purple {
	background-color: #ba79cb;
	color: #fff;
}

.tile-progress.tile-pink {
	background-color: #ec3b83;
	color: #fff;
}

.notifications {
	position: absolute;
	right: 10px;
	top: 10px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	min-width: 300px;
	text-align: right;
}

.notifications .dropdown-menu.notify-drop {
	min-width: 330px;
	background-color: #fff;
	min-height: 360px;
	max-height: 360px;
}

.notifications .dropdown-menu.notify-drop .notify-drop-title {
	border-bottom: 1px solid #e2e2e2;
	padding: 5px 15px 10px 15px;
}

.notifications .dropdown-menu.notify-drop .drop-content {
	min-height: 316px;
	max-height: 316px;
	overflow-y: scroll;
}

.notifications .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track {
	background-color: #f5f5f5;
}

.notifications .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar {
	width: 8px;
	background-color: #f5f5f5;
}

.notifications .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb {
	background-color: #ccc;
}

.notifications .dropdown-menu.notify-drop .drop-content > li {
	border-bottom: 1px solid #e2e2e2;
	padding: 10px 0px 5px 0px;
}
.notifications .dropdown-menu.notify-drop .drop-content > li:nth-child(2n + 0) {
	background-color: #fafafa;
}


.notifications .dropdown-menu.notify-drop .drop-content > li:after {
	content: '';
	clear: both;
	display: block;
}

.notifications .dropdown-menu.notify-drop .drop-content > li:hover {
	background-color: #fcfcfc;
}

.notifications .dropdown-menu.notify-drop .drop-content > li:last-child {
	border-bottom: none;
}

.notifications .dropdown-menu.notify-drop .drop-content > li .notify-img {
	float: left;
	width: 45px;
	height: 45px;
	margin: 0px 0px 8px 0px;
}

.notifications .dropdown-menu.notify-drop .allRead {
	margin-right: 7px;
}

.notifications .dropdown-menu.notify-drop .rIcon {
	float: right;
	color: #999;
}

.notifications .dropdown-menu.notify-drop .rIcon:hover {
	color: #333;
}

.notifications .dropdown-menu.notify-drop .drop-content > li a {
	font-size: 12px;
	font-weight: normal;
}

.notifications .dropdown-menu.notify-drop .drop-content > li {
	font-weight: bold;
	font-size: 11px;
}

.notifications .dropdown-menu.notify-drop .drop-content > li hr {
	margin: 5px 0;
	width: 70%;
	border-color: #e2e2e2;
}

.notifications .dropdown-menu.notify-drop .drop-content .pd-l0 {
	padding-left: 0;
}

.notifications .dropdown-menu.notify-drop .drop-content > li {
	font-size: 13px;
	font-weight: normal;
	margin: 3px 0;
}

.notifications .dropdown-menu.notify-drop .drop-content > li p.time {
	font-size: 10px;
	font-weight: 600;
	top: -6px;
	margin: 8px 0px 0px 0px;
	padding: 0px 3px;
	border: 1px solid #e2e2e2;
	position: relative;
	background-image: linear-gradient(#fff, #f2f2f2);
	display: inline-block;
	border-radius: 2px;
	color: #b97745;
}

.notifications .dropdown-menu.notify-drop .drop-content > li p.time:hover {
	background-image: linear-gradient(#fff, #fff);
}
