body {
	background-color: rgb(54, 59, 63) !important;		
}

.events-list {
	overflow-y: auto;
	max-height: 350px;
	margin-right: -17px;
}

.bg-primary {
	color: #ffffff !important;
	background-color: rgb(54, 59, 63) !important;
}

.bg-secondary {
	color: #ffffff !important;
	background-color: #2C2F33 !important;
}

.bg-default {
	background-color: #2C2F33 !important;
}

.table-dark {	
	background-color: #2C2F33 !important;
}

.table .thead-dark th {
	background-color: rgb(54, 59, 63) !important;		
	color: #ffffff;
	border-color: rgb(54, 59, 63) !important;
}

.btn-neutral {
	color: #23272A;
}

.table.table-dark th,
.table.table-dark td {
	border-color: rgb(54, 59, 63) !important;
}

.bg-secondary h6 {
	color: #ffffff;
}

.badge-warning {
	color: #36393e;
	background-color: rgba(255, 201, 86, 0.979);
}

.custom-toggle-nsp .custom-toggle-slider:before, 
.custom-toggle-nsp .custom-toggle-slider:after {
	font-family: 'FontAwesome'!important;
	border-radius: 3px!important;
}

.custom-toggle-nsp .rounded-circle {
	border-radius: 3px!important;
}

.text-shadow-black {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.card-img-overlay .h2.card-title {	
	font-size: 28px;
}

.card-img-overlay {
	background-color: rgba(0, 0, 0, 0.1);
}