@{
	ViewData["Title"] = "";
}

<div id="app">

</div>

@section Scripts {
	<script type="text/javascript">
		window.path = '@(ViewBag.Path.Replace(@"\", @"\\"))';
	</script>
	<script type="text/javascript">
		const app = new Vue({
			el: '#app',

			data() {
				return {}
			}
		});
	</script>
}