<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>@ViewData["Title"] - GoldFlower</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
	<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/argon.min.css" />
	<environment include="Development">
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	</environment>
</head>
<body>	
	@RenderBody()

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

	<environment include="Development">
		<script src="~/lib/vuejs/vue.js"></script>
		<script src="~/lib/axios/axios.js"></script>
	</environment>
	<environment exclude="Development">		
		<script src="~/lib/vuejs/vue.min.js"></script>
		<script src="~/lib/axios/axios.min.js"></script>
	</environment>

	<script src="~/site.js" type="module" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
